<p>Okay so this is the html for the hello world backbone demo</p>

<div id="container">
 
    <div id="disp"></div>
    <input id="action" type="button" value="action">
 
 </div>

<script src="/demos/hello-world/main.js"></script>