 <!doctype html>
 <html>
 <head>
 <title> backbone.js example </title>
 </head>
 <body>

 <h1>backbone</h1>
 
 <% demos.forEach(function(demo){ %>

    <h2><a href="/demos/<%= demo.name %>"><%= demo.name %></a></h2>
 
 <% }); %>
 </body>
</html>
