 <!doctype html>
 <html>
 <head>
 <title> backbone.js example </title>
 </head>
 <body>

 <h1>backbone</h1>
 
 <% demos.forEach(function(demo){ %>

    <h2><%= demo.name %></h2>
 
 <% }); %>
 </body>
</html>
